body {
	font-family: Bell, sans-serif;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 50px;
}

.header {
	margin: 0 auto;
	padding-top: -60px;
	width: 250px;
	height:170px;

}

.sections {
	margin: 0 auto;
	font-size: 21px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
	margin-top: -10px;
}

.middlebody {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 2px;
}

.footer {
	margin: 0 auto;
	width: 90%;
	height: 100px;
}

.topbanner {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: white;
	border-bottom: 1px solid black;

}

.logo {
	display: block;
	margin: 0 auto;
	width:150px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.headline {
	margin: 0 auto;
	font-size: 12px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
}

.description {
	font-size: 16px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;

}

.tagline {
	font-size: 18px;
	font-family: serif;
	color: black;
	opacity: 0.7;
	text-align: center;
}

.socialicons {
	margin-left: 12%;
	display: inline-block;
	width: 50px;
}

a {
	text-decoration: none;

}

@media (max-width: 1130px) {
	.socialicons {
		margin-left: 8%;
	}
}

@media (max-width: 800px) {
	.footer {
	}
	.socialicons {
		padding-top: 5px;
		margin: 0 auto;
		margin-bottom: 30px;
		margin-left: 8%;
	}
	.header {
	padding-top: -60px;

  }

 @media (max-width: 710px) {
 	.socialicons {
 		margin-left: 6%;
 	}
 }

 @media (max-width: 615px) {
	.socialicons {
		margin-left: 5%;
		width: 35px;
	}
}

@media (max-width: 345px) {
	.footer {
		padding-top: 5px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.socialicons {
		margin-left: 3%;
		width: 30px;
	}

