body {
	font-family: Bell, sans-serif;
	margin-top: 20px;
}

.header {
	margin: 0 auto;
	padding-top: -60px;
	width: 250px;
	height:170px;

}

.sections {
	margin: 0 auto;
	font-size: 21px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
	margin-top: -10px;
}

.middlebody {
	margin: 0 auto;
	width: 75%;
	margin-bottom: 3px;
}

.footer {
	margin: 0 auto;
	width: 90%;
	height: 100px;
}

.demoblock {
	width: 80%;
	margin-left: 15%;	
}

.topbanner {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: white;
	border-bottom: 1px solid black;

}

.logo {
	display: block;
	margin: 0 auto;
	width:150px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.headline {
	margin: 0 auto;
	font-size: 12px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
}

.description {
	width: 60%;
	margin-left: 20%;
	font-size: 16px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;

}

.intdescription {
	font-size: 18px;
	line-height: 30px;
	font-family: serif;
	text-align: center;
	margin-top: -305px;
	opacity: 0.0;
	padding-top: 80px;
	padding-bottom: 132px;
	padding-right: 50px;
	padding-left: 50px;
}

.intdescription:hover {
	background: gray;
	opacity: 0.9;
	color: rgba(255, 255, 255, 1);
}

.tagline {
	font-size: 16px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
	margin-top: 17px;
}

.socialicons {
	margin-left: 13%;
	display: inline-block;
	width: 50px;
}

a {
	text-decoration: none;
	color: black;
}

.intblock {
	width: 400px;
    height: 300px;
	display: inline-block;
    margin-bottom: 65px;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;

}

.inttagline {
	font-size: 16px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
	margin-top: 17px;
}

.intimg {
	width: 100%;
	display: inline-block;
}

.portimage {
	height: 75px;
	display: inline-block;
	margin-top: 10px;
}

.photohead {
	margin: 0 auto;
	font-size: 21px;
	font-family: serif;
	color: black;
	opacity: 0.6;
	text-align: center;
	padding-top: 25px;
}

.photoblock {
	width: 40%;
	margin: 0 auto;
	padding-bottom: 50px;

}

@media (max-width: 1130px) {
	.socialicons {
		margin-left: 11%;
	}
	.intblock, .intimg {
		width: 250px;
	}
	.intdescription {
		font-size: 17px;
		line-height: 25px;
		margin-top: -194px;
		opacity: 0.0;
		padding-top: 20px;
		padding-bottom: 50px;
		padding-right: 25px;
		padding-left: 25px;
	}	
	.intdescription:hover {
		background: gray;
		opacity: 0.9;
		color: rgba(255, 255, 255, 1);
}
	.intblock {
		margin-bottom: 40px;
		margin-top: 15px;
	}
}

@media (max-width: 800px) {
	.socialicons {
		padding-top: 5px;
		margin: 0 auto;
		margin-bottom: 30px;
		margin-left: 9%;
	}
	.header {
	padding-top: -60px;
  }
	.intdescription {
		background: none;
		opacity: 0.6;
		font-size: 18px;
		line-height: 25px;
		padding-top: 200px;
		padding-right: 10px;
		padding-left: 10px;	
	}
	.intdescription:hover {
		background: none;
		color: black;
		opacity: 0.6;
		font-size: 18px;
		line-height: 25px;
		padding-top: 200px;
		padding-right: 10px;
		padding-left: 10px;	
	}
	.inttagline {
		display: none;
	}  

 } 

@media (max-width: 615px) {
	.socialicons {
		margin-left: 9%;
		width: 35px;
	}
}

@media (max-width: 410px) {
	.footer {
		padding-top: 5px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.socialicons {
		margin-left: 6.5%;
		width: 30px;
	}
	.intblock {
		width: 200px;
		margin-left: 5px;
	}
	.intdescription {
		background: none;
		opacity: 0.6;
		font-size: 18px;
		line-height: 25px;
		padding-top: 200px;
		padding-right: 2px;
		padding-left: 2px;	
	}
	.intdescription:hover {
		background: none;
		color: black;
		opacity: 0.6;
		font-size: 18px;
		line-height: 25px;
		padding-top: 200px;
		padding-right: 2px;
		padding-left: 2px;	
	}
	.intimg {
		width: 100%;
	}

}

