body {
	max-width: 630px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding-bottom: 20px;
}

.logo {
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	width: 55px;

}

body {
	text-align: center;
	font-family: arial, Sans;
	font-size: 15pt;
	color: black;
}

p {
	margin-top: 30px;
}

header h1 {
	font-size: 30px;
	padding-bottom: 8px;
	float:left;
	margin-left: 20%;
	margin-top: -1px;
	font-family: dinweb;
}

h2 {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 21px;
	padding-bottom: 8px;
	margin-left: -65px;
	font-family: dinweb;
}

input[type="radio"]:checked+label {
	color: black;
}

#question {
	font-size: 25px;
	margin-top: 15px;
	margin-left: 10%;
	margin-right: 10%;
	color: black;
}

#questionpic {
	width: 250px;
	margin-left: 60px;
	padding-top: 20px;
}

ul {
	list-style: none;
	color: black;
}


#choices label {
	margin-left: 5px;
	font-size: 20px;
	color: black;
	margin-top: 8px;
}

.finalmessage {
	padding-left: 15%;
	padding-right: 15%;
}

#choices label:hover {
	color: black;
}

#beginButton, #submitButton, #continueButton, #retryButton {
	border-radius: 15px;
	background-color: #90B0FC;
	font-size: 20px;
	font-family: dinweb, Sans;
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#questionNumber {
	margin-top: 15px;
}

@media (max-width: 445px) {
	h2 {
		margin-left: -40px;
	}

}